* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("../fonts/myfont.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

.articles-home {
  height: auto;
  width: 100%;
  /* padding: 30px 0; */
  box-sizing: border-box;
  background-color: #131313;
}

.articles-home-main {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  /* grid-gap: 0 50px; */
  place-content: center;
}

.card {
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 60px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #313131;
  /* font-weight: 600; */
}

.card:nth-child(1),
.card:nth-child(2) {
  border-top: 0;
}

.card:nth-child(2n) {
  border-left: 1px solid #313131;
  justify-content: flex-start;
  padding-left: 20px;
}

.card:nth-child(2n + 1) {
  justify-content: flex-end;
  padding-right: 20px;
}

.card:hover {
  /* transform: rotate(-10deg); */
  background-color: #181818;
}

/* .card:hover .card__content {
  text-decoration:line-through
} */

.card:active {
  transform: rotate(0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card__content {
  font-size: 16px;
  transition: 0.5s;
  color: #fff;
  text-align: center;
}

.card__desc {
  font-size: 14px;
}
